* {
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
    text-align: center;
    background-color: #77DDFF;
    line-height: 200px;
}

.number {
    font-size: 36px;
    padding: 30px;
}